#movieCard{
  .movieCard{
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: rgba(122, 15, 17, 0.952);
    color: rgba(191, 161, 43, 0.936);
    font-weight: 1000;
    font-family: "Bebas Neue";
    border-radius: 10px ;
    transition: .4s;
    position: relative;

    &:hover{
      -webkit-box-shadow: 0 2px 10px 0 wheat ;
      -moz-box-shadow: 0 2px 10px 0 wheat ;
      box-shadow: 0 2px 10px 0 wheat ;
      //transform: scale(1.1);
    }
    h3{
      padding: 10px 0;
      font-weight: 700;
    }
    img{
      width: 100%;
    }
    i{
      position: absolute;
      top: 0;
      left: 0;
      background: #0f1b16;
      padding: 0 5px;
    }
  }
}